<% if current_user.student? %>
  <% if @course.students.include?(current_user) %>
    <p><strong>Bu kursa zaten kay覺tl覺s覺n.</strong></p>
  <% else %>
    <%= button_to "Kursa Kay覺t Ol", enroll_course_path(@course), method: :post %>
  <% end %>
<% end %>
